#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left {
  background-color: #f0f0f0;
}

.middle {
  background-color: #ffffff;
}

.right {
  background-color: #f0f0f0;
}

.container.left {
  transform: translateX(0);
}

.container.middle {
  transform: translateX(-33.33%);
}

.container.right {
  transform: translateX(-66.66%);
}

body, html {
  overflow-x: hidden;
}

h2 {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif; /* Use font-family with fallbacks */
  color: #000000; /* Ensure the color is set correctly */
}

p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif ; /* Use font-family with fallbacks */
  color: #000000; /* Ensure the color is set correctly */
}

.about-me p {
  margin: 0;
  padding: 0.5rem 0;
}

.profile-picture {
  border-radius: 0%;
  width: 30vw;
  height: 30vw;
  margin: 0 auto;
}
