.header {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}

.socials {
    flex: 0 1 25%;
    max-width: 25%;
    justify-content: flex-start;
    align-content: center;
    display: flex;
    gap: 1rem;
}

.icon {
    width: 22px;
    height: 22px;
}

.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 67%;
    align-items: center;
}

.title-link {
    flex: 0 0 100%;
    display: block;
    text-decoration: none;
    margin: 0 0 0.5rem 0; /* Add bottom margin to create a gap */
    text-align: center;
}

.title {
    margin: 0;
    font-size: 1.75rem;
    font-family: 'Helvetica Neue', sans-serif;
    color: #000;
    text-align: center;
    flex: 1; /* Ensures it takes up the center space */
}

.nav {
    flex: 0 0 100%;
    display: block;
    text-decoration: none;
    margin: 0;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    gap: 1rem;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.nav-link:hover {
    color: #222
}

.nav-link.active {
    color: #000;
    text-decoration: underline;
}

.actions {
    flex: 0 1 25%;
    max-width: 25%;
    display: flex;
    justify-content: flex-end;
}

.action-link {
    color: #000;
    text-decoration: none;
    font-family: 'Lora', serif;
}

a {
    font-size: 0.75rem;
}