.container {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left {
  background-color: #ffffff;
}

.middle {
  background-color: #f0f0f0;
}

.right {
  background-color: #ffffff;
}

.container.left {
  transform: translateX(0);
}

.container.middle {
  transform: translateX(-33.33%);
}

.container.right {
  transform: translateX(-66.66%);
}

.no-scroll {
  overflow: hidden;
}
